<table border="4">
	<thead>
		<tr>
			{% for col in colnames %}
			<th>{{ col }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for record in records %}
		<tr>
			{% for col in colnames %}
			<th>{{ record[col] }}</th>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>
