{% extends "layout.html" %}
{% block body %}

<form action="/index" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Student ID</h1>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="{{ result.studentid }}" name="studentid">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
				<input type="submit" value="Submit" class="btn btn-primary btn-large btn-block" >
				<br>
			</div>
		</div>
	</div>

	<img src="{{ result.filename }}" alt="Invalid Student Id" width="400">

</form>

{% endblock %}
