<html>
  <head>
    <title>{{ user }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Welcome {{ user }}</h1>
    </div>
  </body>
</html>
